[Unit]
Description=Shadowsocks Default Server Service
After=network.target

[Service]
Type=simple
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/usr/local/python/bin/ssserver -c /etc/shadowsocks/config.json
User=nobody
LimitNOFILE=32768

[Install]
WantedBy=multi-user.target
